    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
 
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background: #16161f;
      color: #ffffff;
    }
 
    header {
      background: #250000;
      color: white;
      padding: 20px;
    }
 
    .container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }
 
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
 
    .logo {
      font-size: 24px;
      font-weight: bold;
    }
 
    .menu {
      display: flex;
      gap: 20px;
    }
 
    .menu a {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
 
    .menu-toggle {
      display: none;
      cursor: pointer;
    }
 
    .hero {
      padding: 80px 0;
      background: linear-gradient(to bottom right, #720c0c, #01000c);
      color: white;
      text-align: center;
    }
 
    .hero h1 {
      font-size: 48px;
      font-family: Agu Display;
      margin-bottom: 20px;
      color: #ff8a8a;
      text-shadow: 0 0 15px #fc1515 ;
     
    }
 
    .hero p {
      font-size: 18px;
      margin-bottom: 30px;
    }
 
    .hero button {
      padding: 12px 24px;
      background: rgb(233, 126, 126);
      color: #000000;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;
    }
 
    section {
      padding: 60px 0;
    }
 
    .grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
 
    .grid-item {
      flex: 1 1 250px;
      background: rgb(34, 29, 78);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .container h2{
      color: #6557ff;
      text-decoration: underline;
      text-decoration-color: #623ca7;
      text-decoration-style: solid;
    }

    .grid-item h3{
      color: #65a3eb;
      text-decoration: underline;
      text-decoration-color: #486ee9;
      text-decoration-style: solid;
    }

 
    footer {
      background: #182b3d;
      color: white;
      text-align: center;
      padding: 20px;
    }
 
    /* Responsividade */
    @media (max-width: 768px) {
      .menu {
        display: none;
        flex-direction: column;
        background: #2c3e50;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        padding: 10px;
      }
 
      .menu.active {
        display: flex;
      }
 
      .menu-toggle {
        display: block;
      }
    }
